<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Project Manager</span>
    </div>
    <ul class="nav bd-navbar-nav flex-row">
      <li class="nav-item"><a routerLinkActive="menuactive" class="nav-link" href="#" routerLink="/Home" >Manage Project</a></li>
      <li class="nav-item"><a routerLinkActive="menuactive" class="nav-link" href="#" routerLink="/UserPage" >Manage User</a></li>
      <li class="nav-item"><a routerLinkActive="menuactive" class="nav-link" href="#" routerLink="/AddEdit" >Manage Task</a></li>
      <li class="nav-item"><a routerLinkActive="menuactive" class="nav-link" href="#" routerLink="/ViewTask" >View Task</a></li>
    </ul>
  </div>
</nav>
