<app-header></app-header>
<router-outlet></router-outlet>
<!--
<div class="container">
  <div class="row">
<div class="col-sm-2 text-right">
  <label for="taskname">Task :</label>
</div>
<div class="col-sm-4 text-left">
  <input type="text" class="form-control" id="taskname" placeholder="Enter Task Name">
</div>
<div class="col-sm-2 text-right">
    <label for="parenttaskname">Parent Task :</label>
  </div>
  <div class="col-sm-4 text-left">
    <input type="text" class="form-control" id="parenttaskname" placeholder="Enter Task Name">
  </div>
</div>
<p></p>
<div class="row">
<div class="col-sm-2 text-right">
    <label for="priorityfrom">Priority From :</label>
</div>
<div class="col-sm-1 text-left">
    <input type="text" class="form-control" id="priorityfrom" placeholder="Enter Task Name">
  </div>

<div class="col-sm-2 text-right">
    <label for="priorityto">Priority To :</label>
</div>
<div class="col-sm-1 text-left">
    <input type="text" class="form-control" id="priorityto" placeholder="Enter Task Name">
  </div>
  <div class="col-sm-1 text-right">
      <label for="startdate">Start Date :</label>
  </div>
  <div class="col-sm-2 text-left">
      <input type="Date" class="form-control" id="startdate" placeholder="Enter Task Name">
    </div>
    <div class="col-sm-1 text-right">
        <label for="enddate">End Date :</label>
    </div>
    <div class="col-sm-2 text-left">
        <input type="Date" class="form-control" id="enddate" placeholder="Enter Task Name">
      </div>
  </div>

    <hr class="new">
    <div class="row" >
        <div class="col-sm-12" >
          <div class="row"  *ngFor="let task of tasks">
            <div class="col-sm-2">
                <label for="tblparenttaskname">Task :</label>
                <textarea class="form-control" id="tbltaskname" disabled>{{task.TaskName}}</textarea>
            </div>
            <div class="col-sm-2">
                <label for="tbltaskname">Parent Task :</label>
                <textarea class="form-control" id="tblparenttaskname" disabled>{{task.Parent_ID}}</textarea>
            </div>
            <div class="col-sm-1">
                <label >Priority :</label>
                <br>
                <label >{{task.Priority}}</label>
            </div>
            <div class="col-sm-2">
                <label >Start :</label>
                <br>
                <label >{{task.StartDate}}</label>
            </div>
            <div class="col-sm-2">
                <label >End :</label>
                <br>
                <label >{{task.EndDate}}</label>
            </div>
            <div class="col-sm-1">
                <button id="edit" value="Edit" class="btn btn-primary btn-sm" >Edit</button>
            </div>
            <div class="col-sm-1">
                <button id="endtask" value="End" class="btn btn-primary btn-sm ">End</button>
            </div>
          </div>
        </div>
    </div>
</div>

-->
